<header [class.headerDark]="darkMode">
    <img *ngIf="darkMode" routerLink="/" src="assets/img/logo-angular-white.png" alt="Logo (white)">
    <img *ngIf="!darkMode" routerLink="/" src="assets/img/logo-angular.png" alt="Logo (black)">
    <nav [class.darkLinks]="darkMode">
        <a routerLink="/">Home</a>
        <a href="#">Curriculum</a>
        <a href="#">Projects</a>
        <a routerLink="/data-protection">Data Protection</a>
        <a routerLink="/legal-notice">Legal Notice</a>
    </nav>
</header>